<div class="ui container padded">
  <div class="Section Section--main">
    <h2 class="ui plain header center aligned">MeYou Health Services Agreement</h2>

    <p>Last Updated: January 28, 2018</p>

    <h3 class="h2">Definitions</h3>

    <p>We use these terms later in this agreement, and they have specific meanings.  We put them here at the top for easy reference.</p>
    <p><b>"Authorized Users"</b> means those individuals whom you have authorized to access and use MeYou Health Services.</p>
    <p><b>"The Customer", "You", and "Your"</b> refer to the company or organization that is purchasing MeYou Health Services.</p>
    <p><b>"Customer Account"</b> means an account that is created for you within the MeYou Health Services and is used to manage your Authorized Users, view reports, and perform other actions related to your use of the Services.</p>
    <p><b>"Customer Data"</b> means data, information and content about you and your Authorized Users that you provide when using MeYou Health Services.</p>
    <p><b>"Effective Date"</b> means the date you first submit an Order for MeYou Health Services.</p>
    <p><b>"Fees"</b> means the then applicable fees for the Services, as indicated on the Order.</p>
    <p><b>"Initial Term"</b> means the initial period during which you has subscribed to receive MeYou Health Services, as indicated on the Order.</p>
    <p><b>"MeYou Health", "We", "Us", and "Our"</b> refer to MYH, Inc., 27-43 Wormwood St. Suite 420, Boston, MA 02210.</p>
    <p><b>"MeYou Health Services"</b> or <b>"Services"</b> means applications, software, products, services, and customer support provided by MeYou Health.</p>
    <p><b>"Order"</b> means the invoice or other forms from MeYou Health for the initial order for the Services, and any subsequent invoice or other forms from MeYou Health (submitted in written form or online), specifying, among other things, the maximum number of Users, Effective Date, Initial Term, Renewal Term, and Fees.</p>
    <p><b>"Privacy Policy"</b> means the policy, which each Authorized User must agree to be bound by before creating a User Account, describing how MeYou Health collects, uses, and protects users' information.  It may be modified by MeYou Health from time to time and can be found here: <a target="_blank" href="https://account.meyouhealth.com/privacy">https://account.meyouhealth.com/privacy</a>.</p>
    <p><b>"Renewal Term"</b> means an additional period, after the Initial Term, during which you have subscribed to continue receiving MeYou Health Services, as indicated on the Order.</p>
    <p><b>"Term"</b> means the period of time during which you has subscribed to receive MeYou Health Services, including the Initial Term and any subsequent Renewal Terms, as indicated on the Order.</p>
    <p><b>"Terms of Use"</b> means the terms and conditions which each Authorized User must agree to before creating a User Account.  They may be modified by MeYou Health from time to time and can be found here: <a target="_blank" href="https://account.meyouhealth.com/terms">https://account.meyouhealth.com/terms</a>.</p>
    <p><b>"User Account"</b> means an account that an Authorized User creates within the MeYou Health Services.</p>

    <h3 class="h2">Acceptance of Terms</h3>

    <p>This agreement governs your use of MeYou Health Services.  By using MeYou Health Services, you agree to all the terms of this agreement.</p>

    <h3 class="h2">Modification of Agreements</h3>

    <p>MeYou Health may modify this agreement, our Terms of Use, or our Privacy Policy from time to time.  When MeYou Health updates this agreement, we will revise the "Last Updated" at the top of the agreement and will contact you prior to the changes becoming effective.  If you or your Authorized Users use MeYou Health Services after the date on which this agreement, our Terms of Use, or our Privacy Policy have changed, you or your Authorized Users are deemed to have accepted the changes.</p>

    <h3 class="h2">Description of Services</h3>

    <p>Subject to the terms of this agreement, MeYou Health will provide you and your Authorized Users with access to MeYou Health Services.</p>

    <h3 class="h2">Use of Services</h3>

    <p>You agree that you and your Authorized Users will comply with the Terms of Use and all applicable laws and regulations. We may prohibit any use of MeYou Health Services we believe to be in violation of the Terms of Use.</p>

    <h3 class="h2">Authorized Users</h3>

    <p>You are responsible for ensuring the security, confidentiality and authorized use of usernames and passwords for Authorized Users. MeYou Health reserves the right to deny registration of any individual who does not qualify to be an Authorized User, and to revoke the registration of any individual who has failed to comply with the Terms of Use. You may not allow any person to share or use another Authorized User’s User Account to access the Services.</p>

    <h3 class="h2">Unauthorized Access</h3>

    <p>You will not make the Services available to anyone other than Authorized Users.  You will use reasonable efforts to prevent unauthorized use of the Services, and will notify MeYou Health promptly of any unauthorized use when you become aware of it.  You will not attempt to gain unauthorized access to the systems or networks that provide the Services.</p>

    <h3 class="h2">Personal Information and Privacy</h3>

    <p>Personal information you and your Authorized Users provide to MeYou Health through the Services is governed by MeYou Health's Privacy Policy.</p>

    <h3 class="h2">Confidentiality</h3>

    <p>We may disclose business, technical, or financial information to you, including non-public information regarding features, functionality and performance of the Services.  You agree to take reasonable precautions to protect this information, and not to divulge this information to any third party.  Likewise, we agree to take reasonable precautions to protect your Customer Data, and not to divulge your Customer Data to any third party except as necessary to deliver the Services or as otherwise allowed by this agreement.</p>

    <h3 class="h2">Proprietary Rights</h3>
    <p>You retain ownership of, and responsibility for, your Customer Data.  We retain ownership of all intellectual property rights of any kind related to the Services. We reserve all rights that are not expressly granted to you under this agreement or by law.</p>

    <p>You grant us the right to collect, store, analyze, aggregate, copy, display, and otherwise use your Customer Data as necessary to deliver the Services.  We will not sell your Customer Data, and will not distribute it except as necessary to deliver the Services.</p>

    <p>You agree that any suggestions, ideas for enhancements, or other feedback regarding the Services, provided to us by you or your Authorized Users, become the intellectual property of MeYou Health.</p>

    <h3 class="h2">Support</h3>

    <p>Online support is available through <a target="_blank" href="https://support.meyouhealth.com">https://support.meyouhealth.com</a>.  In general, you should receive a response within 24 to 48 hours. Support is available on weekdays during the hours of 9:00 am through 5:00 pm Eastern time, with the exclusion of US Federal Holidays.</p>

    <h3 class="h2">Payment of Fees</h3>

    <p>You will pay MeYou Health all applicable Fees for the Services, in U.S. dollars. You authorize MeYou Health to charge you for all applicable Fees using the payment method specified on the Order.  Fees are non-refundable except as required by law.  You will pay MeYou Health on the payment interval set forth in the Order. We may suspend or terminate your access to the Services if Fees are past due. You will provide complete and accurate billing and contact information to MeYou Health.  Fees do not include taxes and you are responsible for all applicable taxes.  We will charge taxes when required to do so.</p>

    <h3 class="h2">Term and Termination</h3>

    <p>This agreement will remain in effect for the entire Term.  Unless terminated as set forth herein or otherwise specified on the Order, the Term will commence on the Effective Date, continue for the Initial Term, and will thereafter automatically continue to renew for successive additional Renewal Terms until you notifies MeYou Health that you do not wish to renew the agreement, at least 30 days prior to the end of the then current Term.</p>

    <p>This agreement may be terminated by MeYou Health, at any time, in our sole discretion, upon any breach of this agreement or upon any other conduct deemed inappropriate or detrimental to the Services.  Upon any termination, all sections of this agreement which by their nature should survive termination will survive termination, including accrued rights to payment, confidentiality obligations, warranty disclaimers, and limitations of liability.</p>

    <h3 class="h2">Warranty and Disclaimer</h3>

    <p>We will use reasonable efforts to maintain the Services in a manner which minimizes errors and interruptions.  The Services may be temporarily unavailable for scheduled maintenance or for unscheduled emergency maintenance, either by MeYou Health or by third-party providers, or due to causes beyond MeYou Health’s reasonable control, but MeYou Health will use reasonable efforts to provide advance notice of any scheduled service disruption.  However,  MeYou Health does not warrant that the services will be uninterrupted or error free; nor do we make any warranty as to the results that may be obtained from use of the services.  The services are provided "as is" and MeYou Health disclaims all warranties, express or implied, of merchantability and fitness for a particular purpose and non-infringement.</p>


    <h3 class="h2">Limitation of Liability</h3>

    <p>You understand and agree that we will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from the use, disclosure, or display of content provided by you or your Authorized Users; your use or inability to use the Services; any modification, price change, suspension or discontinuance of the Services; the Services generally or the software or systems that make the Service available; unauthorized access to or alterations of your transmissions or data; statements or conduct of any third party on the Services; any other user interactions that you input or receive through your use of the Services; or any other matter relating to the Services.</p>

    <p>Our liability is limited whether or not we have been informed of the possibility of such damages, and even if a remedy set forth in this agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.</p>

    <h3 class="h2">Miscellaneous</h3>

    <p>If any provision of this agreement is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that this agreement will otherwise remain in full force and effect and enforceable.  This agreement is not assignable, transferable or sublicensable by you except with MeYou Health’s prior written consent.  MeYou Health may transfer and assign any of its rights and obligations under this agreement without consent.  This agreement is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this agreement, and that all waivers and modifications must be in a writing signed by both parties, except as otherwise provided herein.  No agency, partnership, joint venture, or employment is created as a result of this agreement and you do not have any authority of any kind to bind MeYou Health in any respect whatsoever.  In any action or proceeding to enforce rights under this agreement, the prevailing party will be entitled to recover costs and attorneys’ fees.  All notices under this agreement will be in writing and will be deemed to have been duly given when received, if personally delivered; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; the day after it is sent, if sent for next day delivery by recognized overnight delivery service; and upon receipt, if sent by certified or registered mail, return receipt requested.  This agreement is governed by the laws of the State of Delaware without regard to its conflict of laws provisions.</p>

  </div>
</div>
